// Define SCSS variables
$primary-color: #005cbb;
$primary-dark-color: #3700b3;
$secondary-color: #03dac6;
$tertiary-color: #ff5722;
$background-color: #f5f7fa;
$surface-color: #ffffff;
$error-color: #b00020;
$on-primary-color: #ffffff;
$on-secondary-color: #000000;
$on-tertiary-color: #ffffff;
$on-background-color: #000000;
$on-surface-color: #000000;
$on-error-color: #ffffff;

$headline1-font-size: 96px;
$headline2-font-size: 60px;
$headline3-font-size: 48px;
$headline4-font-size: 34px;
$headline5-font-size: 24px;
$headline6-font-size: 20px;
$subtitle1-font-size: 16px;
$subtitle2-font-size: 14px;
$body1-font-size: 16px;
$body2-font-size: 14px;
$button-font-size: 14px;
$caption-font-size: 12px;
$overline-font-size: 10px;

// Mixin for gradient background
@mixin gradient-background($start, $end) {
  background: linear-gradient(135deg, $start 0%, $end 100%);
}

// Mixin for box shadow
@mixin box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

// Mixin for button styles
@mixin button-styles() {
  background-image: linear-gradient(to right, #3d86cf 0%, #360b9c 100%);
  background-size: 200% auto;
  color: white !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-position: right center;
  }
}

.auth-card {
  width: 450px;
}

mat-card {
  width: 400px;
  padding: 30px;
  @include box-shadow(0, 4px, 8px, rgba(0, 0, 0, 0.1));
  border-radius: 12px;
  background-color: $surface-color;
  color: $on-surface-color;
}

mat-card-header {
  text-align: center;
  margin-bottom: 20px;
}

mat-card-title {
  font-size: $headline5-font-size;
  font-weight: bold;
  color: $primary-color;
}

mat-card-subtitle {
  font-size: $subtitle2-font-size;
  color: $on-background-color;
  margin-top: 10px;
}

.pc-card-subtitle {
  display: flex;
  justify-content: space-between;
  column-gap: 4px;

  .link {
    color: $primary-color;
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
  }
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.reset-password {
  display: flex;
  justify-content: end;

  .link {
    font-size: $caption-font-size;
    color: $primary-color;
    cursor: pointer;
    text-decoration: none;
    margin-top: -35px;
    z-index: 1;
  }
}

button {
  width: 100%;
  padding: 12px;
  font-size: $button-font-size;
  @include button-styles();
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

.mat-card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  p {
    margin: 0 0 8px 0;
  }
}
