<div class="auth-reset-password">
  <p-card class="auth-card">
    <ng-template #title> <span class="auth-card-title">Reset password</span> </ng-template>
    <ng-template #content>
      <form [formGroup]="form" class="flex flex-col gap-4">
        <div class="flex flex-col gap-1 pb-6 relative">
          <p-iconfield>
            <p-floatlabel variant="on">
              <input
                pInputText
                formControlName="email"
                id="on_email"
                aria-label="email"
                fluid
                (blur)="form.controls.email.markAsDirty()"
              />
              <label for="on_email">Email</label>
            </p-floatlabel>
            <p-inputicon styleClass="pi pi-envelope" />
          </p-iconfield>
          <p-message
            *ngIf="form.controls.email.touched && form.controls.email.errors?.['required']"
            severity="error"
            variant="simple"
            size="small"
            class="ml-3 absolute bottom-0"
          >
            Email is required
          </p-message>
          <p-message
            *ngIf="form.controls.email.touched && form.controls.email.errors?.['email']"
            severity="error"
            variant="simple"
            size="small"
            class="ml-3 absolute bottom-0"
          >
            Please enter a valid email address
          </p-message>
        </div>
      </form>
    </ng-template>

    <ng-template #footer>
      <div class="flex flex-col gap-y-16 mt-4">
        <button
          label="Reset"
          pRipple
          pButton
          [raised]="true"
          (click)="onSubmit()"
          styleClass="w-100"
          class="w-full"
        ></button>
        <div class="flex flex-col justify-center items-center">
          <p>Don't have an account?</p>
          <p-button label="Sign up!" [link]="true" routerLink="/auth/registration" />
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
