@use '@angular/material' as mat;

.pc-account-menu {
  &-avatar {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
}

:root {
  @include mat.menu-overrides(
    (
      container-color: white,
    )
  );
}
