@use '@angular/material' as mat;
@use 'variables' as *;

@mixin form-control {
  .form-control {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;

    .form-field--full-width {
      width: 100%;
    }

    .form-field--half-width {
      width: 50%;
    }
  }
}

@mixin button-text-link {
  .button-text-link {
    color: $primary-blue;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    z-index: 2;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
