$primary-blue: #005cbb;
$primary-blue-light: #0072e5;
$primary-red: #d50000;

// states
$error-state: #d50000;
$warning-state: #ff9800;
$success-state: #4caf50;
$info-state: #2196f3;

// Border Colors
$border-color-default: #e0e0e0;
$border-color-primary: $primary-blue;
$border-color-error: $error-state;
$border-color-warning: $warning-state;
$border-color-success: $success-state;
$border-color-info: $info-state;

// Hover Colors
$hover-light-blue: #d1ecff;
