<p-panelmenu [model]="menuItems()" styleClass="w-full md:w-60">
  <ng-template #item let-item>
    <ng-container *ngIf="item.routerLink; else urlRef">
      <a
        [routerLink]="item.routerLink"
        pRipple
        class="flex align-items-center gap-2 cursor-pointer px-3 py-2"
      >
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
      </a>
    </ng-container>

    <ng-template #urlRef>
      <a
        *ngIf="item.url; else noLink"
        [href]="item.url"
        pRipple
        class="flex align-items-center cursor-pointer gap-2 px-3 py-2"
      >
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
      </a>
    </ng-template>

    <ng-template #noLink>
      <span pRipple class="flex items-center cursor-pointer gap-2 px-4 py-2">
        <span [class]="item.icon"></span>
        <span>{{ item.label }}</span>
        <i *ngIf="item.items" class="pi pi-angle-down ml-auto"></i>
      </span>
    </ng-template>
  </ng-template>
</p-panelmenu>
