.auth-container {
  height: 100vh;
  background-image: url('assets/images/auth_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
