<div class="auth-login">
  <mat-card class="auth-card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <h3 class="auth-card-title">Login</h3>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field class="form-control">
          <mat-label>Email</mat-label>
          <mat-icon matIconSuffix fontIcon="email"></mat-icon>
          <input matInput [formControl]="form.controls.email" />

          @if (form.controls.email.touched && form.controls.email.hasError('required')) {
          <mat-error>Email is required</mat-error>
          } @else if (form.controls.email.touched && form.controls.email.hasError('email')) {
          <mat-error>Please enter a valid email address</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="form-control">
          <mat-label>Password</mat-label>
          <mat-icon matIconSuffix fontIcon="key"></mat-icon>
          <input matInput [formControl]="form.controls.password" type="password" />

          @if (form.controls.password.touched && form.controls.password.hasError('required')) {
          <mat-error>Email is required</mat-error>
          } @else if (form.controls.password.touched &&
          form.controls.password.hasError('minlength')) {
          <mat-error>Password must be at least 8 chars long</mat-error>
          }
        </mat-form-field>

        <a class="button-text-link" routerLink="/auth/reset-password">Forgot Password?</a>
      </form>
    </mat-card-content>

    <mat-card-actions class="auth-card-actions">
      <button mat-flat-button (click)="onSubmit()" class="auth-card-action">Login</button>

      <div class="auth-card-actions-hint">
        <p>Don't have an account?</p>
        <a mat-button routerLink="/auth/registration">Sign up!</a>
      </div>

      <pc-google-login (oauthResponse)="handleGoogleLogin($event)"></pc-google-login>
    </mat-card-actions>
  </mat-card>
</div>
