// Keep order of imports as is
@use './styles/reset';
@use '@angular/material' as mat;
@use './styles/global-overrides';

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: (
        plain-family: Roboto,
        brand-family: Lato,
        bold-weight: 700,
        medium-weight: 500,
        regular-weight: 400,
      ),
      density: -2,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

body.dark-mode {
  color-scheme: dark;
}

.spacer {
  flex: 1 1 auto;
}

.icon {
  &--small {
    font-size: 1rem;
  }

  &--medium {
    font-size: 1.5rem;
  }

  &--large {
    font-size: 2rem;
  }

  &--xlarge {
    font-size: 2.5rem;
  }
}
